# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# App Specific Portable Data (DO NOT COMMIT)
UserData/
logs/
WebView2Runtime/
*.db
*.log

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
